* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* margin: 0; */
}

@font-face {
  font-family: Merriweather-Regular;
  src: url(../assets/fonts/Merriweather/Merriweather-Regular.ttf);
}
@font-face {
  font-family: GolosText-Regular;
  src: url(../assets/fonts/Golos_Text/static/GolosText-Regular.ttf);
}
@font-face {
  font-family: GolosText-Medium;
  src: url(../assets/fonts/Golos_Text/static/GolosText-Medium.ttf);
}
@font-face {
  font-family: GolosText-SemiBold;
  src: url(../assets/fonts/Golos_Text/static/GolosText-SemiBold.ttf);
}
@font-face {
  font-family: GolosText-Bold;
  src: url(../assets/fonts/Golos_Text/static/GolosText-Bold.ttf);
}

:root {
  --color-bg: #E9DED4;

  --color-regular: #313131;
  --color-accent: #F54932;
  --color-annotation: #3057A2;
  --color-message: #fff;

  --color-hover-for-dark-button: #FBCE51;
  --color-hover-for-dark-text: #1F1F1F;
  --color-hover-for-light-button: #313131;
  --color-hover-for-light-text: #fff;

  --font-size-h1: 60px;
  --font-size-h2: 54px;
  --font-size-h3: 36px;
  --font-size-h4: 22px;
  --font-size-h5: 20px;
  --font-size-h6: 16px;

  --font-size-name: 24px;
  --font-size-logo: 16.65px;

  --transition: .3s;
/* 
  --letter-spacing: ;
  --line-height:; */

  --border-button: 2px;
  --border-button-mini: 1px;
}




.main__text-accent {
  color: var(--color-accent);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Merriweather-Regular;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--color-regular);
  text-transform: uppercase;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: 110%;
  margin: 0 0 6px 0;
}

p, a {
  font-family: GolosText-Regular;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--color-regular);
  text-decoration: none;
}

.main__main-section {
  background-color: #E9DED4;
  background-image: url(../assets/images/svg/only-noise.svg);
  background-attachment: fixed;
  width: 100%;
  margin: 0 auto;
}

.main__desktop-wrap {
  margin: 0 auto;
  
}

.main__desktop {
  background: url(../assets/images/svg/only-noise.svg);
  background-attachment: fixed;
  outline: solid 2px #000;
  width: 1366px;
  margin: 0 auto;
}

.main__content-image {
  width: 1920px;
}

.main__desktop-wrap img {
  float: right;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin-right: 485px;
  margin-top: -102px;
  /* outline: solid 1px #1417b6; */
}

.main__content {
  width: 1366px;
  height: 700px;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper {
  width: 1222px;
  height: 700px;
  margin: 0 auto;
}


/* 375 */

@media (max-width: 1365px) {
  


}

/* 375 */

@media (max-width: 768px) {
  
  h1 {
    font-size: 36px;
    line-height: 110%;
  }
  
  .main__info {
    display: flex;
    max-width: 335px;
    height: 393px;
    flex-direction: column;
    justify-content: space-around;
  }

  .main__buttons {
    display: flex;
    flex-direction: column;
}
  
  .main__button--dark {
    width: 100%;
    height: 47px;
  }
  
  .main__button--light {
    width: 100%;
    height: 47px;
  }

}





